html,
body {
    font-family: 'Quicksand', sans-serif;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}
.inline-icon {
    vertical-align: bottom;
    font-size: 17px !important;
    padding-left: 1rem;
}

.nav{
    background-color: #0e1a40;
    align-items: middle;
}

/* --------------------- */
/* this is where you can style the chart */
svg {
    width: 100%;
    height: 100%;
}
/* coloring the bars */
rect {
    fill: #0e1a40;
}
/* text color and size */
text {
font-size: 12px;
fill: #0e1a40;
}

/* border color */
path {
    stroke: gray;
}

/* tick lines color */
line {
    stroke: gray;
}

/* border width */
.grid path {
    stroke-width: 0;
}

/* grid lines opacity and color */
.grid .tick line {
    stroke: #9FAAAE;
    stroke-opacity: 0.3;
}

